.jumbotron {
	background-color: #2D83F4;
	margin-top: 50px;
}


footer {
   padding: 80px 40px 0 60px;
   background-color: #A4A4A4;
   margin-bottom: 0px;
   margin-top: 10px;
   font-family: calibri;
   font-size: 30px;

}

.btn {
	background-color: blue,
	color: yellow;
	font-family: arial;
}

.card-pros {
	flex: 1  200px;
	margin-top: 10px;
}
.btn-reserva {
	width: 100%;
	border-radius: 0px;

}
.footer-address-icon {
	padding-right: 10px;
}
.card-img-top {
width: 60px;
height: 60px;
object-fit: cover;
}
.tab-content{
	padding-top: 10px;
}