$yellow: #40FF00;
$black: #848484;
$blue:#2E64FE;


@mixin margenes($top, $bottom){
    margin-top:$top;
    margin-bottom: $bottom;
}


.jumbotron{
    background-color: $blue;
    color: black;
    @include margenes (50px, 10px);
}

.card-pros{
    flex: 1 200px;
    padding: 2px 5px 2px 5px;

}

footer{
    padding: 80px 40px 0 60px;
    background-color: #A4A4A4;
    margin-bottom: 0px;
    margin-top: 10px;
    font-family: calibri;
   font-size: 30px;
}

.btn-reserva{
    width: 100%; 
    border-radius: 0px;
}

.footer-address-icon{
    padding: 10px;
}

.tab-content{
    padding-top: 10px;
}
.card-img-top {
width: 60px;
height: 60px;
object-fit: cover;
}
.btn {
    background-color: $blue;
    color: yellow;
    font-family: arial;
}